@mixin fontOswald($weight, $size,$color) {
  font-family: "Oswald", sans-serif;
  font-weight: $weight !important;
  font-size: $size !important;
  color: $color;
}
@mixin fontSans($weight, $size,$color) {
  font-family: "Work Sans", sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}
