@import "../../styleutils/mixins.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
.text {
  justify-content: center;
  flex-direction: column;
  h1 {
    @include fontOswald(700, 2.75rem);
  }
  p {
    @include fontSans(400, 1rem);
    max-width: 450px;
    color: #000;
  }
  #form {
    display: flex;
    justify-content: start;
    flex-direction: column;
    .form-field {
      max-width: 400px;
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      .heart-container {
        margin-left: 15px;
      }
    }
  }
}
.img-container {
  display: flex;
  justify-content: center;
  img {
    max-width: 350px;
  }
}
.smallimg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  .smallimg {
    margin-right: 35px;
    img {
      width: 60px;
      height: 60px;
    }
  }
}

//slider
.thumbnail-slider-wrap {
  margin-top: 15px;
  height: 85px;
}
.thumbnail-slider-wrap .slick-track .slick-slide {
  text-align: center;
}
.thumbnail-slider-wrap .slick-track .slick-slide img {
  width: 70%;
}
