@import "../../styleutils/mixins.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    @include fontOswald(700, 2.75rem,#000);
  }
  p {
    @include fontSans(400, 1rem,#000);
    max-width: 450px;
  }
  #form {
    display: flex;
    justify-content: start;
    flex-direction: column;
    .form-field {
      max-width: 400px;
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      .heart-container {
        margin-left: 15px;
      }
    }
  }
}

//slider
.gallery-container {
  .thumbnail-slider-wrap {
    margin-top: 15px;
    height: 85px;
  }
  .thumbnail-slider-wrap .slick-track .slick-slide {
    text-align: center;
  }
  .thumbnail-slider-wrap .slick-track .slick-slide img {
    width: 70%;
  }
  .image-gallery-thumbnail.active,
  .image-gallery-thumbnail:hover,
  .image-gallery-thumbnail:focus {
    border-color: var(--mainColor) !important;
  }
  .image-gallery-svg {
    color: var(--mainColor) !important;
  }
  .image-gallery-thumbnails {
    margin-top: 25px;
  }
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-width: 350px !important;
  }
}
