@import "../../styleutils/mixins.scss";
select {
  min-width: 180px;
  border: 2px solid #d3d3d3;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 2px;
  color: #000;
  @include fontOswald(400, 0.8rem);
  padding: 0.2rem 0.8rem;
  position: relative;
  .colorCircle {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
  }
}
